
    <div class="main-body">
        <h1 class="title">Στατιστικά</h1>
        <div class="cont">
            <h2 class="subtitle">Αριθμός Κρατήσεων</h2>
            {{#if bookNum}}
            <div>{{bookNum}}</div>
            {{/if}}
            {{#if message1}}
            <div class="alert alert-danger" role="alert">
                {{message1}}
            </div>
            {{/if}}
        </div>
        <div class="cont">
            <h2 class="subtitle">Αριθμός Χρηστών</h2>
            {{#if users}}
            <div>{{users}}</div>
            {{/if}}
            {{#if message2}}
            <div class="alert alert-danger" role="alert">
                {{message2}}
            </div>
            {{/if}}
        </div>
        <div class="cont">
            <h2 class="subtitle">Καλύτερος Πελάτης</h2>
            {{#if bestClient}}
            <div>{{bestClient}}</div>
            {{/if}}
            {{#if message3}}
            <div class="alert alert-danger" role="alert">
            {{message3}}
            </div>
            {{/if}}
        </div>
    </div>
