

<div class="text-center title">
    <h1>Προφίλ</h1>
</div>

<hr>

<div class="container disp">
    {{#each info}}
    <form>
        <label>Ονοματεπώνυμο</label>
        <div class="input-group mb-3 user">
            <input type="text" class="form-control" placeholder="Όνομα" aria-label="FullName" aria-describedby="basic-addon1" required value="{{firstname}}">
            <input type="text" class="form-control" placeholder="Επώνυμο" aria-label="FullName" aria-describedby="basic-addon1" required value="{{lastname}}">
        </div>

        <div class="form-group mb-3">

            <label for=username>Όνομα Χρήστη</label>
            <input type="text" class="form-control" id="username" placeholder="Όνομα Χρήστη" value="{{username}}">

        </div>
        <div class="form-group mb-3">

            <label for=email>Ηλεκτρονικό Ταχυδρομείο</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" value="{{email}}">

        </div>
        <div class="form-group mb-3">

            <label for=username>Κινητό Τηλέφωνο</label>
            <input type="text" class="form-control" id="mobile" placeholder="Κινητό Τηλέφωνο" value="{{mobile}}">

        </div>
        <div class="form-group mb-3">

            <label for=oldpass>Παλιός Κωδικός</label>
            <input type="password" class="form-control" id="oldpass" placeholder="Παλιός Κωδικός">

        </div>
        <div class="form-group mb-3">

            <label for=newpass>Νέος Κωδικός</label>
            <input type="password" class="form-control" id="newpass" placeholder="Νέος Κωδικός">

        </div>
        <div class="form-group mb-3">

            <label for=renewpass>Επαναλάβετε τον Νέο Κωδικό</label>
            <input type="password" class="form-control" id="renewpass" placeholder="Νέος Κωδικός">

        </div>

        <div class="row">

            <div class="text-center btns">

                <button type="button" class="my-button-green" id="saveBtn">Αποθήκευση Αλλαγών</button>
                <button type="reset" class="my my-button-red">Ακύρωση</button>

            </div>

        </div>
    </form>
    {{/each}}
</div>
